@import "../../assets/styles/GlobalStyles.scss";

// h1{
//     background: $bg-color;
//     font-weight: $font-weight;
//     color: $text-color;
//     text-align: $text-center;
// }

.pages {
    position: relative;
    background: #000;
    width: $width;
    height: $height;
    @include flexCenter;
}
