$width: 100%;
$height: 100vh;
$bg-color-test: #000;
$font-weight: 600;
$text-color-test: #fff;
$text-center: center;

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

html,
body {
    height: $height;
    width: $width;
    // overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}
