@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
@import "assets/styles/GlobalStyles.scss";

.notfound {
  position: relative;
  margin-top: 6em;
  height: 50vh;
  width: $width;

  @include flexCenter;

  flex-direction: column;
  background-color: #222;
  color: #555;
  font-family: $font-roboto;
}

p#type-in {
  margin: 0;
  font-size: 3em;
  line-height: $width;
  min-height: 1em;
  padding: 3px;
  border-right: 3px solid #555;
}
p#type-after {
  margin: 0;
  font-size: 1.5em;
  line-height: $width;
  min-height: 1em;
  padding: 3px;
  border-right: 3px solid #222;
  animation: flicker 1s linear 1s infinite;
}
@keyframes flicker {
  0% {
    border-right-color: #555;
  }
  40% {
    border-right-color: #555;
  }
  50% {
    border-right-color: #222;
  }
  90% {
    border-right-color: #222;
  }
  100% {
    border-right-color: #555;
  }
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0.5em;
  border-bottom: 2px solid #222;
  transition: border 0.3s;
  cursor: pointer;

  &:hover {
    border-bottom: 2px solid #555;
  }

  a {
    color: inherit;
    text-decoration: inherit;
  }
}

::selection {
  background-color: rgba(0, 0, 0, 0.2);
}
