@import "../../assets/styles/GlobalStyles.scss";

.user_tab_container {
    color: $text-color-test;
    background: $bg-color-test;
}

.darkmode:disabled {
    // color: rgba(255, 255, 255, 0.5);
    color: #fff;
    cursor: not-allowed;
    background: rgba(255, 255, 255, 0.3);
}

.lightmode:disabled {
    cursor: not-allowed;
}
